.error-container {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.error-container {
    margin-top: 50px;
    width: 90%;
    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}

.error-title {
    text-shadow: 0 0 5px #c20433;
}
