@import url(modal.scss);

.author-info {
    display: flex;
    flex-wrap: wrap;

    &__image {
        margin-right: 20px;
        height: 250px;
        width: 200px;
        flex-basis: content;
        cursor: pointer;
    }

    &__text {
        flex-basis: 75%;
        @media screen and (max-width: 1200px) {
            flex-basis: 70%;
        }
    }
    @media screen and (max-width: 998px) {
        width: 700px;
        margin: auto;
    }
    @media screen and (max-width: 576px) {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 350px;
    }
}
