@import url(side-parallax.scss);

.navbar {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #0d1e40;
    background-color: #0e1729;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
    @media screen and (max-width: 1200px) {
        font-size: 14px;
    }
    @media screen and (max-width: 998px) {
        font-size: unset;
    }
    @media screen and (max-width: 576px) {
        position: static;
        text-align: center;
        width: 300px;
        margin: auto;
    }

    &-list__item {
        margin-bottom: 15px;
    }

    a {
        text-decoration: none;
        color: #fff;
        transition: all 200ms ease-in-out;

        &:hover {
            color: #c217a5;
        }
    }

    &__back-link {
        padding-top: 20px;

        a {
            font-weight: bold;
        }

        &:hover a {
            text-shadow: 1px 1px 9px purple;
            color: #fff;
        }
    }

    &__title {
        color: #b34282;
        text-shadow: 0px 0px 5px darkviolet;
        margin-bottom: 30px;
    }
}
