* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 100%;
    min-width: 1100px;
    height: 100%;
    overflow-x: hidden;
    background-color: #020d21;
    color: #fff;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

input[type='range'] {
    appearance: none;
}
