@import url(modal.scss);
@import url(cameras.scss);

.review-title {
    margin: 0 auto 10px auto;
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 10px deeppink;
}

.author-info {
    display: flex;
    flex-wrap: wrap;

    &__image {
        margin-right: 20px;
        height: 250px;
        width: 200px;
        flex-basis: content;
        cursor: pointer;
    }

    &__text {
        flex-basis: 75%;
        font-size: 18px;
        text-align: justify;
        line-height: 170%;
    }
}
