@import url(modal.scss);
@import url(introduction.scss);
@import url(cameras.scss);
@import url(zoom.scss);
@import url(photo-overlay.scss);
@import url(summarizing.scss);
@import url(gallery.scss);

.review-title {
    margin: 0 auto 10px auto;
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 10px deeppink;
}

.text-container {
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
}
