@import url(weather.scss);
@import url(calendar.scss);
@import url(ad.scss);

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #0d1e40;
    background-color: #0e1729;

    @media screen and (max-width: 998px) {
        display: grid;
        gap: 0 10px;
        grid-template-columns: 240px 1fr;
        grid-template-areas:
            'weather-title ad'
            'weather ad'
            'calendar ad';
        min-width: 90%;
        margin: 0 auto;
    }

    @media screen and (max-width: 576px) {
        display: flex;
        min-width: 300px;
        margin: 30px auto;
        padding: 10px 20px 40px;
    }
}
