.side-parallax-container div:nth-child(1) {
    background-image: url(/src/assets/images/photo_2020-05-03_00-02-01.jpg);
    height: 300px;
    margin-bottom: 250px;
}

.side-parallax-container div:nth-child(2) {
    height: 300px;
    margin-bottom: 250px;
}

.side-parallax-container div:nth-child(3) {
    background-image: url(/src/assets/images/photo_2022-06-19_09-47-58.jpg);
    height: 300px;
}
