.weather-title {
    margin: 10px auto 20px;
}

.weather-container {
    display: grid;
    border-radius: 20px;
    padding: 20px 15px;
    grid-template-columns: 50px 1fr;
    row-gap: 15px;
    background-color: #4d258a;
    height: 152px;

    &__icon {
        height: 50px;
        width: 50px;
    }

    &__data {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        grid-column: 1/3;
        place-self: center start;
    }

    span:first-of-type {
        grid-column: 2/3;
        font-size: 20px;
        place-self: center;
    }

    &_disabled > * {
        visibility: hidden;
    }
}

.weather-container_no-data {
    .weather-container__data {
        position: absolute;
    }
}
